header, footer {
    position: relative;
    background-color: rgb(55, 62, 70);
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}

body{
    background-color: rgb(50, 77, 65);
}
h1 {
    font-size: 400%;
    display: inline;
    color: white;
    margin-left: 2%;
}

nav {
    display: flex;
    position: relative;
    font-size: 120%;
    padding: 5px 15px;
    
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(253, 195, 118);
}

#start {
    display: flex;
    flex-direction: row;
}

.start {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 15px;
}


#divider {
    position: relative;
    background-image: url(forest.jpg);
    background-repeat: repeat-x;
    height: 200px;
    align-content: end;
    margin-top: 0%;
}
#me {
    height: 300px;
}

#box {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    top: 140px;
}

#About, #Work, #Contact, #Resume {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

}

.token {
    height: 200px;
    width: 400px;
    flex: 1 0 100%;
}

.complete{
    height: 300px;
    width: 600px;
    flex: 1 0 200%;
}
pre {
    height: 200px;
    font-size: 130%;
    color:  rgb(253, 195, 118);
}

h2 {
    font-size: 400%;
    display:block;
    padding: 1%;
    color: rgb(91, 182, 152);
}

.brick {
    display: block;
    border-right: 5px solid antiquewhite;
    flex: 1 0 17%;
    margin-right: 2%;
    text-align: right;
}

section {
    margin: 1% 0%;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 0 78%;
}

h2 {
    text-indent: 2%;
}

li {
    display: inline;
    padding: 15px;
}

a:link > img {
    opacity: 55%;
}

a:link > img:hover {
    opacity: 100%;
}

#snippet {
    height: 200px;
    max-width: 100%;
    padding: 20px;
}

p {
    font-size: 140%;
    width: 90%;
    line-height: 150%;
    color: rgb(214, 193, 165);

}

#address {
    display: flex;
    justify-content: center;
    font-size: 130%;
}

#style {
    height: 100%;
    line-height: 500%;
    font-size: 130%
}

nav > a:hover {
    transition: all .6s ease-in;
    background-color: rgb(57, 119, 98);
}
/*Not sure why this isn't working.  I will be scheduling a tutoring session to understand why */

@media screen and (max-width: 992px) {
    main,
    .start {
      flex-direction: column;
    }
  }
