header {
    position: relative;
    background-color: rgb(55, 62, 70);
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
}
body{
    background-color: rgb(50, 77, 65);
}
h1 {
    font-size: 300%;
    display: inline;
    color: white;
    margin-left: 2%;
}

nav {
    display: flex;
    position: relative;
    font-size: 120%;
    padding: 5px 15px;
    
}

a:link {
    text-decoration: none;
    color: rgb(253, 195, 118);
}

.start {
    top: 10px;
    margin: 0px 15px;
}

#divider {
    position: relative;
    background-image: url(forest.jpg);
    background-repeat: repeat-x;
    height: 200px;
    align-content: end;
}

#box {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: right;
    top: 140px;
}

#About, #Work, #Contact, #Resume {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}


pre {
    height: 200px;
    font-size: 130%;
    color:  rgb(253, 195, 118);
}

h2, p {
    font-size: 200%;
    display:block;
}

.brick {
    display: block;
    border-right: 5px solid antiquewhite;
    flex: 1 0 20%;
    margin-right: 2%;
}

.card {
    display: inline;
    flex: 1 0 78%;
}

h2 {
    text-indent: 2%;
}
